<div class="row">
  <!--Profile panel-->
  <div class="panel-horizontal left-spacing">
    <!--Navigation Panel-->
    <div class="navigationDiv">
      <div class="btn-group-vertical">
        <!--Boton para desplegar a el perfil de usuario-->
        <button class="button btn-link" id="profile" onclick="expandProfile()">
          <img class="img-circle avatar float-right mr-1" src="https://storage.googleapis.com/material-design/publish/material_v_12/assets/0B7WCemMG6e0VdXFKUnkyVjVVNjQ/style-icons.png">
        </button>
        <!--Boton para las News Feed generales-->
        <button class="button btn-link">
          <img class="img-circle avatar float-right mr-1" src="https://storage.googleapis.com/material-design/publish/material_v_12/assets/0B7WCemMG6e0VdXFKUnkyVjVVNjQ/style-icons.png">
        </button>
        <!--Boton para Articulos del dia -->
        <button class="button btn-link">
          <img class="img-circle avatar float-right mr-1" src="https://storage.googleapis.com/material-design/publish/material_v_12/assets/0B7WCemMG6e0VdXFKUnkyVjVVNjQ/style-icons.png">
        </button>
      </div>
    </div>
    <!--Content-->
    <div class="ProfilePanel" id="profile" onclick="expandProfile()">

    </div>
  </div>


  <!--
  <div class="navigationDiv panel panel-default panel-horizontal">
  </div>
  <div class="navigationDiv panel panel-default panel-horizontal">
  </div>
  <div class="navigationDiv panel panel-default panel-horizontal">
  </div>
  <div class="navigationDiv panel panel-default panel-horizontal">
  </div>
  <div class="navigationDiv panel panel-default panel-horizontal">
  </div>
  <div class="navigationDiv panel panel-default panel-horizontal">
  </div>-->
</div>
